@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2>@ViewBag.Title.</h2>

<p>
    Esta aplicacion fue desarrollada por Laura Sosa, Nathalia Mendes y Katia©, con el proposito
    de administrar y gestionar un sistema completo de empleados, sus departamentos y todos los ambitos de productos y articulos.
</p>
<p>Por otro lado propone manejo de usuarios clientes  y empleados.</p>
<p>Este fue desarrollado el Octubre del año 2020.</p>